<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="PurchaseMapper">
	<resultMap id="purchaseSelectMap" type="purchase">
		<result property="tranNo" column="tran_no" jdbcType="INTEGER"/>
		<result property="purchaseProd.prodNo" column="prod_no" jdbcType="INTEGER"/>
		<result property="buyer.userId" column="buyer_id" jdbcType="VARCHAR"/>
		<result property="paymentOption" column="payment_option" jdbcType="VARCHAR"/>
		<result property="receiverName" column="receiver_name" jdbcType="VARCHAR"/>
		<result property="receiverPhone" column="receiver_phone" jdbcType="VARCHAR"/>
		<result property="divyRequest" column="dlvy_request" jdbcType="VARCHAR"/>
		<result property="tranCode" column="tran_status_code" jdbcType="VARCHAR"/>
		<result property="orderDate" column="order_data" jdbcType="DATE"/>
		<result property="divyDate" column="dlvy_date" jdbcType="DATE"/>
		<result property="tranCnt" column="tran_cnt" jdbcType="INTEGER"/>
		<result property="score" column="score" jdbcType="INTEGER"/>
		<result property="commentText" column="comment_text" jdbcType="VARCHAR"/>
		<result property="commentDate" column="comment_date" jdbcType="DATE"/>
		<result property="commentImage" column="comment_image" jdbcType="VARCHAR"/>
		<result property="divyPostcode" 	column="dlvy_postcode" 		jdbcType="VARCHAR" />
		<result property="divyAddress" 		column="dlvy_address" 		jdbcType="VARCHAR" />
		<result property="divyAddress2" 	column="dlvy_address2" 		jdbcType="VARCHAR" />
	
		<association property="purchaseProd"  javaType="product">
			<id property="prodNo" column="prod_no" jdbcType="INTEGER"/>
			<result property="prodName" column="prod_name" jdbcType="VARCHAR"/>
			<result property="prodDetail" column="prod_detail" jdbcType="VARCHAR"/>
			<result property="manuDate" column="manufacture_day" jdbcType="VARCHAR"/>
			<result property="price" column="price" jdbcType="INTEGER"/>
			<result property="fileName" column="image_file" jdbcType="VARCHAR"/>
			<result property="regDate" column="prod_reg_date" jdbcType="DATE"/>
			<result property="prodTranCode" column="TRAN_STATUS_CODE" jdbcType="VARCHAR"/>
			<result property="prodCnt" column="prod_cnt" jdbcType="INTEGER"/>
		</association>
		
		<association property="buyer"  javaType="user">
			<id property="userId" column="buyer_id" jdbcType="VARCHAR"/>
			<result property="userName" column="user_name" jdbcType="VARCHAR"/>
			<result property="password" column="password" jdbcType="VARCHAR"/>
			<result property="role" column="role" jdbcType="VARCHAR"/>
			<result property="ssn" column="ssn" jdbcType="VARCHAR"/>
			<result property="phone" column="cell_phone" jdbcType="VARCHAR"/>
			<result property="email" column="email" jdbcType="VARCHAR"/>
			<result property="regDate" column="user_reg_date" jdbcType="DATE"/>
			<result property="postcode" 	column="postcode" 		jdbcType="VARCHAR" />
			<result property="address" 		column="address" 		jdbcType="VARCHAR" />
			<result property="address2" 	column="address2" 		jdbcType="VARCHAR" />
			<result property="userIdKakao" 	column="user_id_kakao"  jdbcType="VARCHAR" />
			<result property="userIdNaver" 	column="user_id_naver"  jdbcType="VARCHAR" />
			<result property="userStatusCode" 	column="user_status_code"  	jdbcType="VARCHAR" />
			<result property="emailCode" 		column="email_code"  		jdbcType="VARCHAR" />
		</association>
	</resultMap>
	
	<select id="addPurchase" resultType="int">
		SELECT seq_transaction_tran_no.NEXTVAL from dual
	</select>
	
	<insert id="addPurchase2" parameterType="purchase">
		INSERT INTO transaction(tran_no, prod_no, buyer_id, payment_option, receiver_name, receiver_phone,
								dlvy_request, tran_status_code, order_data, dlvy_date, tran_cnt, dlvy_postcode, dlvy_address, dlvy_address2)
		VALUES (#{tranNo}, 
				#{purchaseProd.prodNo}, 
				#{buyer.userId}, 
				#{paymentOption:VARCHAR}, 
				#{receiverName:VARCHAR}, 
				#{receiverPhone:VARCHAR}, 
				#{divyRequest:VARCHAR}, 
				#{tranCode:VARCHAR}, 
				SYSDATE, 
				#{divyDate:DATE}, 
				#{tranCnt:INTEGER},
				#{divyPostcode:VARCHAR},
				#{divyAddress:VARCHAR},
				#{divyAddress2:VARCHAR})
	</insert>
	
	<update id="addPurchase3" parameterType="purchase">
		UPDATE product 
		<set>
		prod_cnt = prod_cnt - #{tranCnt}
		</set> 
		WHERE prod_no = #{purchaseProd.prodNo}
	</update>
	
	<delete id="addPurchase4" parameterType="purchase">
		DELETE FROM cart WHERE user_id = #{buyer.userId} AND prod_no = #{purchaseProd.prodNo}
	</delete>
	
	<update id="updateTranCode" parameterType="purchase">
		UPDATE transaction
		<set>
		   tran_status_code = #{tranCode:VARCHAR}
		</set>
		 WHERE tran_no = #{tranNo}
		   AND prod_no = #{purchaseProd.prodNo}
	</update>
	
	<update id="updateTranCode2" parameterType="purchase">
		UPDATE product
		<set>
		  	prod_cnt = prod_cnt + #{tranCnt:INTEGER}
		</set>
		 WHERE prod_no = #{purchaseProd.prodNo}
	</update>
	
	<update id="updatePurchase" parameterType="purchase">
		UPDATE transaction
		<set>
			payment_option = #{paymentOption:VARCHAR},
			receiver_name = #{receiverName:VARCHAR},
			receiver_phone = #{receiverPhone:VARCHAR},
			dlvy_request = #{divyRequest:VARCHAR},
			dlvy_date = #{divyDate:DATE},
			dlvy_postcode = #{divyPostcode:VARCHAR},
			dlvy_address = #{divyAddress:VARCHAR},
			dlvy_address2 = #{divyAddress2:VARCHAR}
		</set>
		WHERE tran_no = #{tranNo}
	</update>
	
	<update id="updatePurchaseComment" parameterType="purchase">
		UPDATE transaction
		<set>
			score = #{score:INTEGER},
			comment_text = #{commentText:VARCHAR},
			comment_date = SYSDATE,
			comment_image = #{commentImage:VARCHAR}
		</set>
		WHERE tran_no = #{tranNo}
		  AND prod_no = #{purchaseProd.prodNo}
	</update>
	
	<sql id="select-purchase-list">
		SELECT 
		
		p.prod_no, 
		p.prod_name, 
		p.prod_detail, 
		p.manufacture_day, 
		p.price, 
		p.image_file, 
		p.reg_date,
		
		t.tran_no, 
		t.buyer_id, 
		t.payment_option, 
		t.receiver_name, 
		t.receiver_phone, 
		t.dlvy_request,
		t.tran_status_code, 
		t.order_data, 
		t.dlvy_date, 
		t.tran_cnt,
		t.dlvy_postcode,
		t.dlvy_address,
		t.dlvy_address2
		
		FROM product p, transaction t
		WHERE p.prod_no = t.prod_no
	</sql>
	
	<sql id="select-sale-list">
		SELECT 
		
		t.prod_no, 
		t.buyer_id, 
		t.tran_no, 
		t.payment_option, 
		t.receiver_name, 
		t.receiver_phone, 
		t.dlvy_request, 
		t.dlvy_date, 
		t.order_data, 
		t.tran_status_code, 
		t.tran_cnt,
		t.dlvy_postcode,
		t.dlvy_address,
		t.dlvy_address2,
		
		p.prod_name
		
		FROM transaction t, product p
		WHERE p.prod_no = t.prod_no
	</sql>
	
	<sql id="select-count-start">
		SELECT COUNT(*) FROM (
	</sql>
	
	<sql id="select-count-end">
		)
	</sql>
	
	<sql id="select-rownum-start">
		SELECT * FROM (	SELECT inner_table. * ,  ROWNUM AS row_seq FROM (
	</sql>
	
	<sql id="select-rownum-end">
		 ) inner_table WHERE ROWNUM <![CDATA[ < ]]>= #{search.currentPage}*#{search.pageSize} ) WHERE row_seq BETWEEN (#{search.currentPage}-1)*#{search.pageSize}+1 AND #{search.currentPage}*#{search.pageSize}
	</sql>
	
	<select id="getPurchaseList" parameterType="map" resultMap="purchaseSelectMap">
		<include refid="select-rownum-start"/>
		<include refid="select-purchase-list"/>
		AND t.buyer_id = #{buyerId}
		ORDER BY t.tran_no DESC
		<include refid="select-rownum-end"/>
	</select>
	
	<select id="getPurchaseListTotalCount" parameterType="map" resultType="int">
		<include refid="select-count-start"/>
		<include refid="select-purchase-list"/>
		AND t.buyer_id = #{buyerId}
		ORDER BY t.tran_no DESC
		<include refid="select-count-end"/>
	</select>
	
	
	<select id="getPurchase" parameterType="string" resultMap="purchaseSelectMap">
		<include refid="select-purchase-list"/>
		AND t.tran_no = #{tranNo}
		ORDER BY t.tran_no DESC
	</select>
	
	<select id="getPurchaseTotalCount" parameterType="string" resultType="int">
		<include refid="select-count-start"/>
		<include refid="select-purchase-list"/>
		AND t.tran_no = #{tranNo}
		ORDER BY t.tran_no DESC
		<include refid="select-count-end"/>
	</select>
	
	
	
	<select id="getSaleList" parameterType="map" resultMap="purchaseSelectMap">
		<include refid="select-rownum-start"/>
		<include refid="select-sale-list"/>
		<if test="prodNo != 0">
		AND t.prod_no = #{prodNo}
		</if>
		ORDER BY t.tran_no DESC
		<include refid="select-rownum-end"/>
	</select>
	
	<select id="getSaleListTotalCount" parameterType="map" resultType="int">
		<include refid="select-count-start"/>
		<include refid="select-sale-list"/>
		<if test="prodNo != 0">
		AND t.prod_no = #{prodNo}
		</if>
		ORDER BY t.tran_no DESC
		<include refid="select-count-end"/>
	</select>
	
	<select id="getCommentPurchase" parameterType="map" resultMap="purchaseSelectMap">
		<include refid="select-purchase-list"/>
		AND t.tran_no = #{tranNo}
		AND p.prod_no = #{prodNo}
		ORDER BY t.tran_no DESC
	</select>
</mapper>